.CFUserTextEncoding
.Trash/
.atom/
.bash_history
.bash_sessions/
.boto
.config/
.cups/
.docker/
.dropbox/
.gsutil/
.gitconfig
.local/
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oracle_jre_usage/
.ssh/
.viminfo
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
action/
go/
google-cloud-sdk/
